.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
  /* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*  */
::selection {
    background-color: #eee;
    color: #000;
}
/*  */
.hidden {
    opacity: 0;
    transition: 1s ease;
}

.hiddenb {
    opacity: 0;
    filter: blur(5px);
    transition: 1s ease;
}

.slide-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: 1s ease;
}
/*  */
.slide-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 1s ease;
}
.slide-up {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20px);
    transition: 1s ease;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.bodyBg {
    background-color: #202020;
}
/*  */
html {
    scroll-behavior: smooth;
}